.container {
  --float-button-size: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: var(--float-button-size);
}

.form-field-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.block-button {
  width: 100%;
}

.start-button {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: var(--float-button-size);
}

.sub-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.scripts p {
  white-space: pre-wrap;
}
